.button-container {
  display: flex;
  justify-content: center;
}

#btn {
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: bisque;
}
#btn:hover{
  background-color: black;
  color: wheat;
}

 
.leaflet-control-attribution {
    display: none;
  }
  
  /* Custom logo styling */
  .custom-logo {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  